# Xcode
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# SwiftData / local DB
*.store
*.store-shm
*.store-wal

# macOS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db

# Packages
.build/
